<div class="ion-page" main>
    <ion-header>
        <ion-toolbar color="primary">
            <ion-icon name="menu" size="large" @click="openStart"></ion-icon>
            <ion-title class="center">
                Tienda
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content padding>
        <h5>Tiendas</h5>
        <swiperComponent :type="false" :arrayData="arrayData"></swiperComponent>
        <h5>Categoría 1</h5>
        <swiperComponent :type="true" :arrayData="arrayData"></swiperComponent>
        <h5>Categoría 2</h5>
        <swiperComponent :type="true" :arrayData="arrayData"></swiperComponent>
        <h5>Categoría 3</h5>
        <swiperComponent :type="true" :arrayData="arrayData"></swiperComponent>
    </ion-content>
    <footerComponent></footerComponent>
</div>
