<div class="ion-page" main>
    <ion-header>
        <ion-toolbar color="primary">
            <ion-icon name="menu" size="large" @click="openStart"></ion-icon>
            <ion-title class="center">
                Perfil
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content padding>
        <ion-row justify-content-center align-items-center>
            <img class="photo" v-if="image != null" :src='image'/>
        </ion-row>
        <ion-button @click="takePicture()" full>
            <ion-icon name="camera"></ion-icon>
            Tomar foto
        </ion-button>
    </ion-content>
    <footerComponent></footerComponent>
</div>

