<transition name="fade">
    <div class="modal-mask" v-if="view">
        <div class="modal-wrapper">
            <div class="modal-container bodyModal">
                <div class="modal-header centerInDiv">
                    <ion-button class="buttonClose" @click="$emit('close')">x</ion-button>
                    <img :src="product.foto"/>
                </div>
                <div class="modal-body">
                    <h5>{{product.nombre_largo}}</h5>
                    <h5>código: {{product.codigo}}</h5>
                    <h5>precio: ${{product.precio_unidad}}</h5>
                </div>
                <table style="width: 100%">
                    <tbody>
                    <tr>
                        <th style="height: 10vw; background:#eceeec" @click="changeTable(1)">Descripción</th>
                        <th style="height: 10vw; background:#eceeec" @click="changeTable(2)">Información técnica</th>
                    </tr>
                    </tbody>
                </table>
                <div v-show="ctrlDiv" v-html="product.descripcion"></div>
                <div v-show="!ctrlDiv" v-html="product.especificacion_tecnica"></div>
                <div class="modal-footer">
                    <ion-button expand="full" color="success" @click="$emit('close')">cerrar</ion-button>
                </div>
            </div>
        </div>
    </div>
</transition>

