<div>
    <swiper v-show="!type" :options="slideOptsCircle" style="max-height: 20vw !important;">
        <swiper-slide
                v-for="item in arrayData" v-bind:key="item.id">
            <img class="sizeImgCircle" :src="item.foto"/>
        </swiper-slide>
    </swiper>

    <swiper v-show="type" :options="slideOptsSquare" style="max-height: 35vw !important;">
        <swiper-slide
                v-for="item in arrayData" v-bind:key="item.id">
            <div style="margin: 2%;" @click="openModal(item)">
                <ion-icon v-if="item.destacado == 1" class="positionIcon" name="heart"></ion-icon>
                <img class="sizeImgSquare" v-show="item.foto != null" :src="item.foto"/>
                <p class="slideInfo" v-show="item.nombre_corto != null">{{item.nombre_corto}}</p>
                <p class="slideInfo" v-show="item.precio_unidad != null">$ {{item.precio_unidad}}</p>
            </div>
        </swiper-slide>
    </swiper>
    <modal :view="viewModal" :product="detailProduct" @close="viewModal = false"></modal>
</div>


