.slideInfo {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.sizeImgSquare {
    width: 100px;
    height: 100px
}

.sizeImgCircle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 4%;
}

.positionIcon {
    position: absolute;
    top: 2%;
}
