<ion-content padding>
    <h4 text-center
        style="margin-top: 15%; font-size: 50px; margin-bottom: 25%; color: black ">
        Iniciar sesión</h4>

    <ValidationProvider name="email" rules="required|email">
        <div slot-scope="{ errors }">
            <ion-input placeholder="Ingrese email" @change="email = $event.target.value"
                       style="width: 100%"></ion-input>
            <p>{{ errors[0] }}</p>
        </div>
    </ValidationProvider>
    <ValidationProvider name="password" rules="required|verify_password">
        <div slot-scope="{ errors }">
            <input placeholder="Ingrese password" v-model="password"
                   type="password">
            <p>{{ errors[0] }}</p>
        </div>
    </ValidationProvider>
    <div text-center>
        <ion-button color="success" expand="block" @click="login()">INICIAR SESIÓN</ion-button>
        <router-link v-bind:to="'register'">¿No tienes cuenta? Registrate</router-link>
    </div>
</ion-content>
