<ion-content padding>
    <h4 text-center
        style="margin-top: 15%; font-size: 50px; margin-bottom: 25%; color: black ">
        Iniciar sesión</h4>

    <ValidationProvider name="nombres" rules="required">
        <div slot-scope="{ errors }">
            <input placeholder="Ingrese nombres" v-model="nombres"
                   style="width: 100%"></input>
            <p>{{ errors[0] }}</p>
        </div>
    </ValidationProvider>
    <ValidationProvider name="email" rules="required|email">
        <div slot-scope="{ errors }">
            <input placeholder="Ingrese email" v-model="email"
                   style="width: 100%"></input>
            <p>{{ errors[0] }}</p>
        </div>
    </ValidationProvider>
    <ValidationProvider name="password" rules="required|verify_password">
        <div slot-scope="{ errors }">
            <input placeholder="Ingrese password" v-model="password"
                   type="password">
            <p>{{ errors[0] }}</p>
        </div>
    </ValidationProvider>
    <div text-center>
        <ion-button color="success" expand="block" @click="register()">REGISTRARME</ion-button>
        <router-link v-bind:to="'login'">¿Ya tienes cuenta? Inicia sesión</router-link>
    </div>
</ion-content>
