<div class="ion-page" main>
    <ion-header>
        <ion-toolbar color="primary">
            <ion-icon name="menu" size="large" @click="openStart"></ion-icon>
            <ion-title class="center">
                Información dispositivo
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content padding>
        <div v-if="dataDevice != null">
            <h3>Información del dispositivo</h3>
            <p>Model: {{dataDevice.model}}</p>
            <p>Platform: {{dataDevice.platform}}</p>
            <p>appVersion: {{dataDevice.appVersion}}</p>
            <p>osVersion: {{dataDevice.osVersion}}</p>
            <p>manufacturer: {{dataDevice.manufacturer}}</p>
            <p>isVirtual: {{dataDevice.isVirtual}}</p>
            <p>batteryLevel: {{dataDevice.batteryLevel}}</p>
            <p>isCharging: {{dataDevice.isCharging}}</p>
            <p>uuid: {{dataDevice.uuid}}</p>
        </div>
        <h3>Mis coordenadas:</h3>
        <p>{{coordinates}}</p>
        <ion-button @click="getCurrentPosition()" full>Obtener posicion</ion-button>
    </ion-content>
    <footerComponent></footerComponent>
</div>

