<ion-menu side="start">
    <!--<ion-menu side="end"> esto es para menu derecha-->
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item @click="logOut()">Cerrar sesión</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
