<div class="ion-page" main>
    <ion-header>
        <ion-toolbar color="primary">
            <ion-icon name="menu" size="large" @click="openStart"></ion-icon>
            <ion-title class="center">
                Posicion en el mapa
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content padding>

    </ion-content>
    <footerComponent></footerComponent>
</div>

