<ion-footer>
    <ion-tab-bar>
        <ion-tab-button tab="cart" @click="redirectPage('/home')">
            <ion-icon name="cart"></ion-icon>
            <ion-label>Tienda</ion-label>
            <!--            <ion-badge>6</ion-badge>-->
        </ion-tab-button>
        <ion-tab-button tab="person" @click="redirectPage('/profile')">
            <ion-icon name="person"></ion-icon>
            <ion-label>Perfil</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="device" @click="redirectPage('/device')">
            <ion-icon name="phone-portrait"></ion-icon>
            <ion-label>Dispositivo</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="map" @click="redirectPage('/map')">
            <ion-icon name="map"></ion-icon>
            <ion-label>Ubicacion</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-footer>
