<template>
    <ion-app>
        <sideMenu></sideMenu>
        <router-view></router-view>
    </ion-app>
</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';
  import sideMenu from "@/components/sideMenu/index"


  @Component({
    components: {sideMenu},
  })
  export default class App extends Vue {
  }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
